{% extends 'base_nav.html' %}

{% block title %} Tags List {% endblock %}

{% block jsFunctions %}
<script>

</script>
{% endblock %}

{% block jsInit %}
<script type="text/javascript">
    function init(){

	}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Tags</span>
                    <div class="row">
                        {% for tag in tags %}
                            <a class="col s12 m6 l3" href="{% url 'tags:tag_description' tag=tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}