{% extends 'base_nav.html' %}

{% block title %} Tags List {% endblock %}

{% block jsFunctions %}
<script>

</script>
{% endblock %}

{% block jsInit %}
<script type="text/javascript">
    function init(){

	}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Tags</span>
                {% for tag in tags %}
                    <div class="col s12 m6 l3">
                        <a href="{% url 'tags:tag_description' tag=tag %}">{{ tag }}</a>
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}