{% extends 'base_nav.html' %}

{% block title %} Submit {% endblock %}

{% block jsFunctions %}
{% include 'submit/upload_js.html' %}
{% endblock %}

{% block jsInit %}
<script type="text/javascript">
    function init(){
        $("#subForm").submit(function(e){
            if(document.getElementById('submit_type').value == 'upload')
            {
                e.preventDefault();
			    upload(new FormData($(this)[0]), "file");
			    return false;
            }
            else return true;
		});
	}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s8">
            <div class="card white">
                <div class="card-content">
                    <form id="subForm" action="{% url 'submit:submit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <span class="card-title">Submit</span>
                        <hr>
                        
                        
                        <div class="row">
                            <!-- radio button, lol, start-->
                            <div class="valign-wrapper">
                                <div class="col">
                                    <ul class="tabs">
                                        <li class="tab"><a href="#" onclick="$('#board_radio').val('1');">S</a></li>
                                        <li class="tab"><a href="#" onclick="$('#board_radio').val('2');">G</a></li>
                                        <li class="tab"><a href="#" onclick="$('#board_radio').val('3');" class="active">R</a></li>
                                        <li class="tab"><a href="#" onclick="$('#board_radio').val('4');">X</a></li>
                                    </ul>
                                    <input id="board_radio" type="text" name="board" value="3" autocomplete='off' hidden>
                                </div>
                                <div class="col">
                                    <input type="checkbox" id="private" name="private" />
                                    <label for="private">Private</label>
                                </div>
                            </div>
                            <!-- radio button, lol, end-->
                            <div class="input-field col s12">
                                <i class="material-icons prefix">title</i>
                                <input id="title" name="title" type="text" autocomplete='off'>
                                <label for="title">Title, optional for videos, images</label>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s3"><a href="#url" onclick="$('#submit_type').val('url');" class="active">URL</a></li>
                                    <li class="tab col s3"><a href="#youtube" onclick="$('#submit_type').val('youtube');">Youtube</a></li>
                                    <li class="tab col s3"><a href="#upload" onclick="$('#submit_type').val('upload');">Upload</a></li>
                                    <li class="tab col s3 disabled"><a href="#website" onclick="$('#submit_type').val('website');">Website</a></li>
                                </ul>
                            </div>
                            <input id="submit_type" type="text" name="submit_type" value="url" autocomplete='off' hidden>
                        </div>
                        
                        
                        <div id="url">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">open_in_browser</i>
                                    <input id="url_url" name="url_url" type="text" autocomplete='off'>
                                    <label for="url_url">Paste URL</label>
                                </div>
                            </div>
                        </div>
                        <div id="youtube">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">open_in_browser</i>
                                    <input id="youtube_url" name="youtube_url" type="text" autocomplete='off'>
                                    <label for="youtube_url">Paste URL</label>
                                </div>
                                <ul class="tabs">
                                    <li class="tab"><a href="#" onclick="$('#youtube_type').val('music');">Music</a></li>
                                    <li class="tab"><a href="#" onclick="$('#youtube_type').val('video');" class="active">Video</a></li>
                                </ul>
                                <input id="youtube_type" type="text" name="youtube_type" value="video" autocomplete='off' hidden>
                            </div>
                        </div>
                        <div id="upload">
                            <div class="row">
                                <div class="file-field input-field">
                                    <div class="btn waves-effect waves-light deep-purple darken-4">
                                        <span>File</span>
                                        <input type="file" name="file" autocomplete='off'>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" autocomplete='off'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id='upload_status' class="col s4 left-align">Status</div>
                                <div id='upload_percent' class="col s4 center-align">Percent</div>
                                <div id='upload_speed' class="col s4 right-align">Speed</div>
                            </div>
                            <div class="progress">
                                <div id='upload_bar' class="determinate" style="width: 0%"></div>
                            </div>
                        </div>
                        <div id="website">Test 4</div>
                        
                        
                        <button class="btn waves-effect waves-light deep-purple darken-4" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Info</span>
                    <hr>
                    {% if err %}
                        <p>{{ err }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}