<script type="text/javascript">
window.CSRF_TOKEN = "{{ csrf_token }}";

var chunkSize = 1024*1024*64;//64mb
var ubar, ustatus, upercent, uspeed;

var totalChunks;
var identifier;
var fileName;
var fileSize;
var privatePost;
var board;
var title;

var timeUpdated;

function upload(formData, fileIndex)
{
	ubar = document.getElementById("upload_bar");
	ustatus = document.getElementById("upload_status");
	upercent = document.getElementById("upload_percent");
	uspeed = document.getElementById("upload_speed");

	privatePost = formData.get("private");
	board = formData.get("board");
	title = formData.get("title");
	
	fileName = formData.get(fileIndex).name;
	fileSize = formData.get(fileIndex).size;
	totalChunks = Math.ceil(fileSize/chunkSize);
	
	if(totalChunks==0){
		ustatus.innerHTML = "Please select a file";
		return;
	}
	
	ustatus.innerHTML = "Setting up";
	identifier = setupAndGetID();
	if(identifier == "ERR") return;

	ustatus.innerHTML="Uploading";
	uploadPart(formData, fileIndex, 0);
}
function uploadPart(formData, fileIndex, partNum){
	var filePart = getPart(formData, fileIndex, partNum);

	var dataPack = new FormData();
	dataPack.append("chunkNum", partNum);
	dataPack.append("chunk", filePart);
	dataPack.append("uploadID", identifier);
	dataPack.append("csrfmiddlewaretoken", window.CSRF_TOKEN);
	dataPack.append("submit_type", "upload");
	if(partNum+1==totalChunks){
		dataPack.append("lastChunk", 1);
	}

	timeUpdated = (new Date()).getTime();
	//send data package
	$.ajax({
		xhr: function() {
			var xhr = new window.XMLHttpRequest();
			xhr.upload.addEventListener("progress", function(evt) {
				var speed = ((evt.loaded / Math.max(1, (new Date()).getTime() - timeUpdated))*1000) / (1024*1024);

				var pg  = Math.ceil(((partNum+(evt.loaded/evt.total))*100) / totalChunks);
				ubar.style.width = pg+"%";
				upercent.innerHTML = pg+"%"
				uspeed.innerHTML = speed.toFixed(1)+" Mbps";
				if(pg==100){
					ustatus.innerHTML = "File transfered, please wait";
				}
			}, false);
			return xhr;
		},
		url: "{% url 'submit:submit' %}",
		type: 'POST',
		data: dataPack,
		async: true,
		success: function (data) {
			if(partNum+1!=totalChunks)uploadPart(formData, fileIndex, partNum+1);
			else window.location.replace("{% url 'downloader:queue' %}");
		},
		error: function (data){
			ustatus.innerHTML = data.responseText;
		},
		cache: false,
		processData: false,
		contentType: false
	});
}

function getPart(formData, fileIndex, partNum){
	var fileSize = formData.get(fileIndex).size;
	var totalChunks = Math.ceil(fileSize/chunkSize);

	var startByte = partNum*chunkSize;
	var endByte = Math.min(startByte+chunkSize, fileSize);

	if(partNum>=totalChunks) return null;
	return formData.get(fileIndex).slice(startByte, endByte);
}

function setupAndGetID(){
	var dataPack = new FormData();
	dataPack.append("filename", fileName);
	dataPack.append("filesize", Math.ceil(fileSize/1024));
	dataPack.append("chunkNum", -1);
	dataPack.append("private", privatePost);
	dataPack.append("board", board);
	dataPack.append("title", title);
	dataPack.append("csrfmiddlewaretoken", window.CSRF_TOKEN);
	dataPack.append("submit_type", "upload");

	var aj = $.ajax({
		url: "{% url 'submit:submit' %}",
		type: 'POST',
		data: dataPack,
		async: false,
		error: function (data){
			ustatus.innerHTML = data.responseText;
		},
		cache: false,
		processData: false,
		contentType: false
	});

	if(aj.status == 200) return aj.responseText;
	else return "ERR";
}
</script>