<script>
	function queryYoutube(){
		CSRF_TOKEN = "{{ csrf_token }}";
		document.getElementById("youtube_types").innerHTML=`
<div class="row center">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>`;
		$.ajax({
			url: "{% url 'submit:query_youtube' %}",
			type: 'POST',
			data: {"url": document.getElementById("youtube_url").value, "csrfmiddlewaretoken": CSRF_TOKEN},
			async: true,
			success: function (data) {
				document.getElementById("youtube_types").innerHTML=data;
				return;
				var lines = data.split('\n');
				var output = "<label>Audio</label><br>";
				var b=1;
				var startTag="<label><input onclick='validateFormat(this.id)' type='radio' name='audio_type' value='";
				var midTag="'>";
				var endTag="</label><br>";
				for(var I = 0;I < lines.length;I++){
					if(b==1 && lines[I].includes("video only"))
					{
						output+="<label>Video</label><br>";
						b=0;
						startTag="<label><input onclick='validateFormat(this.id)' type='radio' name='video_type' value='";
					}
					if(b==1)
					{
						output+=startTag+parseInt(lines[I], 10)+"' id='youtubeRadio"+I+midTag+lines[I]+endTag;
					}
					else
					{
						splitLines=lines[I].split(/[ ]+/);
						output+=startTag+splitLines[0]+";"+splitLines[1]+"' id='youtubeRadio"+I+midTag+lines[I]+endTag;
					}
				}
				document.getElementById("youtube_types").innerHTML=output;
				webms = new Array();
				mp4s = new Array();
				for(var I = 0;I < lines.length;I++){
					if(document.getElementById("youtubeRadio"+I).parentElement.innerHTML.includes("webm"))
						webms[webms.length]=document.getElementById("youtubeRadio"+I);
					else
						mp4s[mp4s.length]=document.getElementById("youtubeRadio"+I);
				}
			}
		});
	}
	function validateFormat(id)
	{
		if(document.getElementById(id).parentElement.innerHTML.includes("webm"))
		{
			for(var I=0;I<mp4s.length;I++)
			{
				mp4s[I].parentElement.style.color="grey";
				mp4s[I].checked = false;
			}
			for(var I=0;I<webms.length;I++)
			{
				webms[I].parentElement.style.color="black";
			}
		}
		else
		{
			for(var I=0;I<webms.length;I++)
			{
				webms[I].parentElement.style.color="grey";
				webms[I].checked = false;
			}
			for(var I=0;I<mp4s.length;I++)
			{
				mp4s[I].parentElement.style.color="black";
			}
		}
	}


</script>