<script>
	function queryYoutube(){
		CSRF_TOKEN = "{{ csrf_token }}";
		document.getElementById("youtube_types").innerHTML=`
<div class="row center">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>`;
		$.ajax({
			url: "{% url 'submit:query_youtube' %}",
			type: 'POST',
			data: {"url": document.getElementById("youtube_url").value, "csrfmiddlewaretoken": CSRF_TOKEN},
			async: true,
			success: function (data) {
				document.getElementById("youtube_types").innerHTML=`
<h5>Video List</h5>
<table>
	<thead>
		<tr>
			<th>Select</th>
			<th>Extension</th>
			<th>Resolution</th>
			<th>FPS</th>
			<th>Bitrate</th>
			<th>Size</th>
			<th>Codec</th>
		</tr>
	</thead>
	<tbody id='video_list'>
	</tbody>
</table>
<h5>Audio List</h5>
<table>
	<thead>
		<tr>
			<th>Select</th>
			<th>Extension</th>
			<th>Bitrate</th>
			<th>Sampling</th>
			<th>Size</th>
			<th>Codec</th>
		</tr>
	</thead>
	<tbody id='audio_list'>
	</tbody>
</table>`;
				var output = "<label>Audio</label><br>";
				var audio_list = document.getElementById("audio_list");
				var vid_str = '';
				for(var id in data['video']){
					item = data['video'][id]
					vid_str +=`
<tr class="`+item['ext']+`">
	<td>
		<p>
			<input name="video" type="radio" id="youtube_radio`+item['format_id']+`" value="`+item['format_id']+`"/>
			<label onclick='validateFormat("`+item['ext']+`")' for="youtube_radio`+item['format_id']+`"></label>
		</p>
	</td>
	<td>`+item['ext']+`</td>
	<td>`+item['resolution']+`</td>
	<td>`+item['fps']+`</td>
	<td>`+item['bitrate']+`</td>
	<td>`+item['filesize']+`</td>
	<td>`+item['codec']+`</td>
</tr>`;
				}
				document.getElementById("video_list").innerHTML = vid_str;
				var aud_str = '';
				for(var id in data['audio']){
					item = data['audio'][id]
					aud_str +=`
<tr class="`+item['ext']+`">
	<td>
		<p>
			<input name="audio" type="radio" id="youtube_radio`+item['format_id']+`" value="`+item['format_id']+`"/>
			<label onclick='validateFormat("`+item['ext']+`")' for="youtube_radio`+item['format_id']+`"></label>
		</p>
	</td>
	<td>`+item['ext']+`</td>
	<td>`+item['bitrate']+`</td>
	<td>`+item['sampling']+`</td>
	<td>`+item['filesize']+`</td>
	<td>`+item['codec']+`</td>
</tr>`;
				}
				document.getElementById("audio_list").innerHTML = aud_str;
			}
		});
	}
	function validateFormat(className)
	{
		if(className == "webm"){
			var dark = document.getElementsByClassName("webm");
			var grey = document.querySelectorAll('.mp4,.m4a');
		}
		else{
			var grey = document.getElementsByClassName("webm");
			var dark = document.querySelectorAll('.mp4,.m4a');
		}
		for(var i=0, il = dark.length; i<il; i++){
			dark[i].style.color = "";
		}
		for(var i=0, il = grey.length; i<il; i++){
			grey[i].style.color = "LightGray";
			grey[i].childNodes[1].childNodes[1].childNodes[1].checked = false;
		}
	}
</script>